.navbar-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.navbar-dark .navbar-text {
	color: #f0f0f0;
}

@media only screen and (max-width: 564px) {
	.navbar-container {
		display: block;
	}
}