.photo {
	margin: 1em 1.5em;
	color: #fff;
	background-color: rgb(31, 31, 31);
	border-radius: 12px;
	box-shadow: 0 5px 12px 1px rgba(1, 1, 1, 0.15);
}

.photo-title {
	padding: 0.7em;
}

.photo > img {
	max-width: 100%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.card-img-top {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}