body {
	background-color: rgb(251, 251, 251);
}

.card {
	width: 15rem;
	height: auto;

	margin: 1em;
	background-color: #fff;
	box-shadow: 0 5px 12px 1px rgba(1, 1, 1, 0.15);
	border-radius: 12px;

	transition: 0.2s ease-out;
}

.card:hover {
	box-shadow: 0 5px 12px 4px rgba(104, 149, 221, 0.205);
}

.card-subtitle {
	padding: 0.5em;
}

input.search-input {
	padding-bottom: 8px;
	border: none;
	background: transparent;

	border-bottom: 3px solid rgb(196, 196, 196);
}

input.search-input:focus {
	border-bottom: 3px solid rgb(196, 196, 196);
	outline: none;
}

input.search-input.dark {
	color: #fff;
}