body {
	background-color: rgb(251, 251, 251);
}

.card {
	margin: 1em;
	background-color: #fff;
	box-shadow: 0 5px 12px 0.2px rgba(1, 1, 1, 0.15);
	border-radius: 12px;
}

.card-subtitle {
	padding: 0.5em;
}

input.search-input {
	padding-bottom: 8px;
	border: none;
	background: transparent;

	border-bottom: 3px solid rgb(196, 196, 196);
}

input.search-input:focus {
	border-bottom: 3px solid rgb(196, 196, 196);
	outline: none;
}

input.search-input.dark {
	color: #fff;
}